<h1>New Picture or Attachment - Step 1</h1>

<% form_for :attachment, @attachment, :url => {:action => 'create', :id => @attachment.id } do |f| %>
  <%= f.error_messages %>
  <p>
    <b><%= f.label :name %></b><br />
    <p class="fieldhelp">
        Enter a short name. This wiil be used to identify this 
        picture or attachment when creating links. By convention try to use lower case
        with underscores or CamelCase. For example<br>
        
          &nbsp;&nbsp;annual_report<br>
          &nbsp;&nbsp;AnnualReport<br>
        
    </p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Next' %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'index' %>