<h1>Editing event</h1>

<%= render "shared/error_messages", :target => @event %> 
<% form_for(@event) do |f| %>
  
  <%= render :partial => 'form_fields', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
