<h1>Change Password</h1>


<%= render "shared/error_messages", :target => @member %> 
 <% form_for @member, :url => { :action => 'update_password', :id => @member.id } do |f| %>

  
  
  <p>
      <b><%= f.label :password %></b><br />
      <%= f.password_field :password %>   
  </p>
 
  
  <%= f.password_field :password_confirmation %>   


  <p>
    <%= f.submit 'Change Password' %>
  </p>
<% end %>

 <p>
  </p>
 
