<h1><%= @event.title %></h1>

<p>
  <%=@event.event_date.to_formatted_s(:rfc822) %>, 
  from <%=@event.start_time.to_formatted_s (:time) %> 
  <%="to #{@event.end_time.to_formatted_s (:time)}" if @event.end_time %>
</p>

<p>
  <%= to_html(@event.description) %>
</p>

<% if @event.schoolday? %>
  <% @event.lessons.each do |lesson| %>
    <h2><%=lesson.taught_class.name%></h2>
    
    <p>
      <%=link_to 'More information', :action => 'lesson', :id => lesson.id%> 
    <p>

  <% end %>
<% end %> 
