<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Members: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'danishschool' %>
</head>
<body>

<div id="page">

  
    <!--<div id="logo">
       <div class="whitetitle" style="MARGIN-TOP: 70px">
      </div>
   </div>-->
    <div id="topheader">
      <div id="xxlogo">
      </div>
      <div id="headercontent">
       <div id="headermenu">
	   <ul>
		<li><%= link_to "Login", :controller => :login, :action => :show %></li>
		<li><a href="<%= url_for(:controller => 'attachment', :action => 'download', :id => Attachment.latest_newsletter.id)%>" target="_blank">Newsletter</a></li>
		<li><%= link_to "Contact", :controller => :content, :action => :contact_us %></a></li>
		
	    </ul>
       </div>
		
     </div>
   </div>
  
   <div id="navigation">
    <ul>
      <li><%= link_to "Home", :controller => :content, :action => :home %></li>
      <li><%= link_to "Aim", :controller => :content, :action => :aim %></li>
      <li><%= link_to "Practical", :controller => :content, :action => :practical %></li>
      <li><%= link_to "Classes", :controller => :content, :action => :classes %></li>
      <li><%= link_to "Teachers", :controller => :content, :action => :teachers %></li> 
      <li><%= link_to "Committee", :controller => :content, :action => :committee %></li>
      <li><%= link_to "History", :controller => :content, :action => :history%></li>
      <li><%= link_to "Sponsors", :controller => :content, :action => :sponsors %></li>
      <li><%= link_to "Links", :controller => :content, :action => :links %></li> 
    </ul>
   </div>
   
   
   <table width="100%" style="margin-top:5px;" > 
    <tr>
     <td valign="top">
       <div id="pagecontent">
          <%= yield %>
       </div>
     </td>
     <td width="260px" valign="top">
       <div id="infopanel">

       <%= render :partial => '/content/latest_news' %>
       <%= render :partial => '/content/calendar' %>


   </div>
   </td>
</tr>
</table>
   
  
</div>

</body>
</html>
